@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
body{
  margin: 10px 80px;
  font-family: 'Noto Sans JP', sans-serif;
}

nav {
  display:flex;
  align-items: center;
  flex-wrap:wrap;
  justify-content:space-between;
}

.logo {
  display: flex;
  align-items: center;
}


.logo img {
  height: 50px;
  margin-right: 10px;
}
/* nav h1{
  font-family: 'Crimson Text', serif;
  font-size: 30px;
} */
nav .onglets{
  /* margin-top: 35px; */
  display: flex;
}
nav .onglets a{
  text-decoration: none;
  color:#7f7e7e;
  /* margin-right: 10px; */
  margin-left: 20px;
}

nav .onglets a:hover{
  text-decoration: none;
  color:#ff623087;
  /* margin-right: 10px; */
}

.articles{
  margin-top: 30px;
}
.articles .article{
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 30px;
}
.articles .article .left img{
  height: 300px;
  width: 500px;
}
.articles .article .right {
  margin-left: 40px;
  max-width: 50%;
}
.articles .article .right p.date{
  color: #7f7e7e;
}
.articles .article .right p.description{
  color: #2d2d2d;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  color: #494949;
}
footer h2{
  font-size: 20px;
  font-family: 'Crimson Text', serif;
  margin-top: 20px;
}
footer .social-media{
  display:flex;
}
footer .social-media p{
  font-size: 18px;
  margin-right: 20px;
}

footer .social-media p:hover {
  color: #ff623087;
  
}

@media screen and (max-width: 640px){
  body{
    margin: 10px 20px;
  }
  /* nav .onglets{
    /* margin-top: -10px;} */
  
  .articles .article .left img{
    height: 100%;
    width:100%;
  }
  .articles .article .right{
    margin: 0px;
    max-width: 100%;
  }
  footer .social-media{
    margin-top: -20px;
  }
}




/* ------------------------------------------------------------------------------------------------------------------- */
/* Page Contact */

#contact-form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

label {
  margin-bottom: 5px;
}

#btn-contact {
  background-color: #ff623087;
    padding: 10px;
    border: none;
    margin-top: 10px;
    box-shadow: 5px 4px 10px #0000005c;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
}

#btn-contact:hover {
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}



















/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
/*                                                         Page Inscription                                 :                                         */

#register-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#btn-register {
  margin-top: 15px;
  background-color: #ff623087;
  border: none;
  box-shadow: 5px 4px 10px #0000005c;
  padding: 10px;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#btn-register:hover {
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}




/* ---------------------------------------------------------------------------------------------------------------------------------------- */

                                                           /* Modification Profil */


.form-update {

  display: flex;
  flex-direction: column;
  width: 40%;

}

#btn-update {
  margin-top: 15px;
  background-color: #ff623087;
  border: none;
  box-shadow: 5px 4px 10px #0000005c;
  padding: 10px;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#btn-update:hover {
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
                                                               /* Add Article */

.form-add {
display: flex;
flex-direction: column;
width: 40%;

}

#btn-add {
margin-top: 15px;
background-color: #ff623087;
border: none;
box-shadow: 5px 4px 10px #0000005c;
padding: 10px;
transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#btn-add:hover {
color: white;
transform: scale(1.05);
cursor: pointer;
}