@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
body{
  margin: 10px 80px;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-family:'Galada', cursive;
}

nav {
  display:flex;
  align-items: center;
  flex-wrap:wrap;
  justify-content:space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav .navbar-links{
  display: flex;
}
nav .navbar-links a{
  text-decoration: none;
  color:#7f7e7e;
  margin-left: 20px;
}
nav .navbar-links a:hover{
  text-decoration: none;
  color:#ff623087;
}

.articles{
  margin-top: 30px;
}
.articles .article{
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 30px;
}
.articles .article .left img{
  height: 300px;
  width: 500px;
  box-shadow: 10px 5px 30px #00000030;
}
.articles .article .right {
  margin-left: 40px;
  max-width: 50%;
  margin-bottom: 50px;
}
.articles .article .right p.date{
  color: #7f7e7e;
}
.articles .article .right p.description{
  color: #2d2d2d;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  color: #494949;
}
footer h2{
  font-size: 20px;
  font-family: 'Crimson Text', serif;
  margin-top: 20px;
}
footer .social-media{
  display:flex;
}
footer .social-media p{
  font-size: 18px;
  margin-right: 20px;
}

footer .social-media p:hover {
  color: #ff623087;
  
}
.navbar-burger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger-line {
  color: black;
}

.navbar-burger div {
  width: 35px;
  height: 3px;
  background-color: #ff623087;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

.burger-active div:nth-child(1) {
  transform: translateY(12px) rotate(224deg);
}

.burger-active div:nth-child(2) {
  opacity: 0;
}

.burger-active div:nth-child(3) {
  transform: translateY(-12px) rotate(135deg);
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }

  .navbar-links.active {
    transform: translateY(0);
  }

  .navbar-burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

}


@media screen and (max-width: 1250px){
  body{
    margin: 10px 20px;
  }
  /* nav .onglets{
    /* margin-top: -10px;} */
  
  .articles .article .left img{
    height: 100%;
    width:100%;
  }
  .articles .article .right{
    margin: 0px;
    max-width: 100%;
  }
  footer .social-media{
    margin-top: -20px;
  }
  
}


.btn-next {
  color: white;
  background-color: rgb(255, 152, 68);
  border: 0;
  padding: 10px 40px;
  transform: skewX(-15deg);
  cursor: pointer;
  transition: 0.2s;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-next a {
  text-decoration: none;
  color: white;
}

.btn-next:hover {
  padding-right: 60px;
  box-shadow: 15px 15px 0px rgb(87, 87, 87);
  
}

.btn-next:hover i {
  animation: color 2s infinite linear;
}

span.arrow {
  margin-left: 15px;
  position: relative;
  transform: skewX(15deg);
}

span.arrow i {
  transform: skewX(15deg);
  color: white;
  transition: 0.2s;
}

span.arrow i:nth-child(2) {
  
  position: absolute;
  right: 0;
  top: 0;
}


span.arrow i:nth-child(3) {
  
  position: absolute;
  right: 0;
  top: 0;
  
}

.btn-next:hover i:nth-child(2) {
  right: -10px;
  top: 1px;
  animation-delay: 0.5s ;
}
.btn-next:hover i:nth-child(3) {
  right: -20px;
  top: 1px;
  animation-delay: 1s;
}

@keyframes color {
  0% {
    color: white;

  }
  50% {
    color: #494949;
  }

  100% {
    color: #ffffff;
  }
}


/* ------------------------------------------------------------------------------------------------------ */
/* Page article */

.date {
font-style: italic;
}
.comment-content {
  display: flex;
  flex-direction: column;
}

.article-category {
  font-family: 'Galada', cursive;
  color: #ff623087;
}

.category-title {
  font-size: 15px;
  font-family: 'Galada', cursive;
  color: #ff623087;
}


#btn-comment {
  background-color: #ed9741;
    padding: 7px 20px;
    border: none;
    margin-top: 10px;
    box-shadow: 5px 4px 10px #0000005c;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
}

#btn-comment:hover {
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}





/* ------------------------------------------------------------------------------------------------------------------- */
/* Page Contact */

#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

label {
  margin-bottom: 5px;
}

#btn-contact {
  background-color: #ed9741;
    padding: 10px;
    border: none;
    margin-top: 10px;
    box-shadow: 5px 4px 10px #0000005c;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
}

#btn-contact:hover {
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}



















/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
/*                                                         Page Inscription                                 :                                         */

#register-form {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
}

#btn-register {
  margin-top: 15px;
  background-color: #ed9741;
  border: none;
  box-shadow: 5px 4px 10px #0000005c;
  padding: 10px;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#btn-register:hover {
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}



/* ------------------------------------------------------------------------------------------------------------------------- */
/* Login */

#login-form {
  display: flex;
  flex-direction: column;

}



/* ---------------------------------------------------------------------------------------------------------------------------------------- */

                                                           /* Modification Profil */


.form-update {

  display: flex;
  flex-direction: column;
  width: 40%;

}

#btn-update {
  margin-top: 15px;
  background-color: #ed9741;
  border: none;
  box-shadow: 5px 4px 10px #0000005c;
  padding: 10px;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#btn-update:hover {
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
                                                               /* Add Article */

.form-add {
display: flex;
flex-direction: column;
width: 40%;

}

#btn-add {
margin-top: 15px;
background-color: #ed9741;
border: none;
box-shadow: 5px 4px 10px #0000005c;
padding: 10px;
transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#btn-add:hover {
color: white;
transform: scale(1.05);
cursor: pointer;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
                                                                /* Update Article */


/* Dashboard */

.onglet-admin {
  display: flex;
  flex-direction: column;
}


.article-container {
  display: flex;
  align-items: flex-start;
}

.article-image {
  flex: 0 0 30%;
  max-width: 300px;
  padding-right: 20px;
}

.article-image img {
  max-width: 100%;
  height: auto;
}

.article-form {
  flex: 1;
}

.form-control {

  width: 100%;
  margin-top: 5px;
}

.form-control-file {

  width: 100%;
  margin-top: 5px;
}

@media (min-width: 1200px) {
  .article-form {
    max-width: 800px;
    margin: 0 auto;
  }

  .article-form .form-group {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .article-container {
    flex-direction: column;
    align-items: center;
  }

  .article-image {
    flex: none;
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#admin-update {
  text-decoration: none;
  color: blue;
}

#admin-delete {
  text-decoration: none;
  color: red;
}